body {
  -webkit-font-smoothing: antialiased;
  padding-top: $navbar-height;
}

p {
  line-height: 1.5;
}


h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.5px;
  font-weight: bold;
}

code {
  color: $gray-700;
  background: $gray-100;
  border-radius: .25rem;
  padding: .1rem .2rem;
  margin: 0 .25rem;
}

.container {
  padding: 0 2rem;
}

.container-fluid {
  margin: 0 auto;
  max-width: map-get($container-max-widths, 'xl');
}

.background-white {
  background-color: $white;
}


.intro {
  font-size: 2rem;
  line-height: 1.4;
  color: $gray-700;
  max-width: 1300px;
  a {
    color: $gray-900;
  }
}

@include media-breakpoint-down(sm) {
  .container {
    padding: 0 1rem;
  }
}
