.home {
  max-width: 1200px;

  h3 {
    font-size: 4rem;
    margin-top: 3rem;
    opacity: .5;
    margin-bottom: 1.5rem;
  }

  h2 {
    color: $gray-900;
    font-size: 9rem;
    margin-top: 8rem;
    line-height: .95;
    letter-spacing: -.4rem;
  }

  h4 {
    font-size: 1rem;
    color: $gray-700;
    margin-bottom: 1rem;
  }

  .btn {
    margin-right: 1rem;
  }

  &-card {
    background: $white;
    padding: 3rem;
    margin-bottom: 3rem;
    box-shadow: $default-shadow;
    border-radius: $border-radius;

    &-icon {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 0;
      border-bottom: 2px $gray-100 solid;
      padding: 3rem;
      margin: -3rem;
      margin-bottom: 3rem;
      text-align: center;
      min-height: 315px;

      svg {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
      }
    }

    &-buttons {
      display: flex;
      margin-top: 2.5rem;
    }

    .division {
      padding-right: 1rem;
      margin-right: 2rem;
      border-right: 1px $gray-200 solid;
    }
  }
}