:root {
  --home-card-padding: 2.5rem;
}

.home {
  max-width: 1200px;

  h2 {
    color: $gray-900;
    font-size: 9rem;
    margin-top: 8rem;
    line-height: .95;
    letter-spacing: -.4rem;
  }

  h3 {
    font-size: 4rem;
    margin-top: 3rem;
    opacity: .5;
    margin-bottom: 1.5rem;
  }

  h4 {
    margin-bottom: 0;
  }

  label {
    font-weight: bold;
    font-size: 1rem;
    color: $gray-700;
    margin-bottom: 1rem;
  }

  .btn {
    margin-right: 1rem;
  }

  a.home-card {
    display: block;
    color: $gray-900;
    transition: .25s ease-in-out;

    h4 {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $gradient;
        mix-blend-mode: screen;
        opacity: 0;
        transition: .25s ease-in-out;
      }
    }

    svg {
      margin-right: .5rem;
      transition: .25s ease-in-out;
    }

    &:hover {
      text-decoration: none;
      transform: translateY(-.5rem);
      box-shadow: $raised-shadow;
      color: #000;

      h4 {
        &::after {
          opacity: 1;
        }
      }

      svg {
        transform: rotate(-10deg);
      }
    }

    &:active {
      transform: translateY(-.1rem);
      box-shadow: $default-shadow;
    }
  }

  &-card {
    background: $white;
    padding: var(--home-card-padding);
    margin-bottom: var(--home-card-padding);
    box-shadow: $default-shadow;
    border-radius: $border-radius;

    &-icon {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 0;
      border-bottom: 2px $gray-100 solid;
      padding: var(--home-card-padding);
      margin: calc(var(--home-card-padding) * -1);
      margin-bottom: var(--home-card-padding);
      text-align: center;
      min-height: 315px;
    }

    &-buttons {
      display: flex;
    }

    .division {
      padding-right: 1rem;
      margin-right: 2rem;
      border-right: 1px $gray-200 solid;
    }
  }
}

@include media-breakpoint-down(md) {
  :root {
    --home-card-padding: 1.5rem;
  }
  
  .home {
    h2 {
      font-size: 4rem;
      letter-spacing: -.2rem;
    }

    h3 {
      font-size: 3rem;
    }

    &-card {
      &-icon {
        min-height: 200px;
      }

      &-buttons {
        flex-wrap: wrap;
        margin-bottom: -.5rem;

        .btn {
          margin-bottom: .5rem;
        }
      }
    }

    .division {
      width: 100%;
      flex-shrink: 0;
      margin-right: 0;
      margin-bottom: 1rem;
      padding-right: 0;
      border: 0;
    }
  }

  .input-group {
    .form-control-lg {
      height: calc(2em + 1rem + -2px) !important;
    }
    .btn {
      margin-right: 0;
    }
  }
}