.page {
  h1 {
    font-size: 9rem;
    letter-spacing: -4px;
    margin-bottom: 2rem;
    margin-top: -1rem;
  }

  h2 {
    margin-top: 5rem;
    font-size: 2.5rem;
  }

  h3 {
    margin-top: 3rem;
    font-size: 1.5rem;
  }

  .intro {
    font-size: 2rem;
    line-height: 1.4;
    color: $gray-700;
    max-width: 1300px;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.6;
  }

  ul, ol {
    font-size: 1.05rem;
  }

  figure {
    padding: 3rem;
    border: 1px $gray-200 solid;
    border-radius: $border-radius;
    margin-top: 2rem;
    margin-bottom: 0;

    &.figure-dark {
      border: 1px $gray-darkest solid;
      background-color: $gray-darkest;
    }

    &.figure-error {
      border: 1px lighten($red, 5%) solid;
      position: relative;
      padding: 1rem;
      display: flex;
      justify-content: center;
      overflow: hidden;

      &::before {
        content: 'X';
        font-size: 1rem;
        line-height: 1.2;
        font-weight: bold;
        display: flex;
        align-content: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        color: $white;
        padding: .4rem .75rem .4rem;
        background-color: lighten($red, 5%);
        border-bottom-right-radius: .35rem;
      }
    }

    &.figure-gradient {
      background: $gradient;
      padding-top: calc(2rem + 3vw);
      padding-bottom: calc(2rem + 3vw);

      img {
        width: 180px;
        padding: 1rem;
      }
    }

    img,
    svg {
      width: 100%;
      height: auto;
    }

    &.edge {
      padding: 0;
      overflow: hidden;
    }

    &.no-margin {
      margin: 0;
    }
  }

  figcaption {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: $gray-600;
  }
}

.assets {
  width: 100%;

  h4 {
    color: $gray-600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
  }

  .btn {
    margin-right: .5rem;
  }

  &-sticky {
    position: relative;
  
    &-content {
      position: sticky;
      top: 6rem;
    }
  }

  &-list {
    label {
      font-weight: bold;
      color: $gray-700;
    }
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    li {
      color: $primary;
  
      svg {
        margin-right: .5rem;
      }
    }
  
    .generator {
      margin-bottom: 2rem;
    }
  }
}

.incorrect-list {
  padding-left: .6rem;

  li {
    list-style: none;
    display: flex;

    svg {
      color: $red;
      margin: .25rem .5rem 0;
    }
  }
}

dl {
  color: $gray-700;
  font-size: .9rem;
}

@include media-breakpoint-down(md) {
  .page {
    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 2rem;
    }

    .intro {
      font-size: 1.25rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

@include media-breakpoint-down(lg) {
  .assets {
    margin-top: 2rem;

    &-sticky {
      margin-top: 2rem;
      border-top: 1px $gray-200 solid;
      padding-top: 2rem;
    }
  }
}
