.page {
  h1 {
    font-size: 9rem;
    margin-top: 20vh;
    letter-spacing: -3px;
    margin-bottom: 2rem;
  }

  .intro {
    font-size: 2rem;
    line-height: 1.4;
    color: $gray-700;
    margin-bottom: 4rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.6;
  }
}

@include media-breakpoint-down(md) {
  .page {
    h1 {
      font-size: 5rem;
    }

    .intro {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}