.page {
  h1 {
    font-size: 9rem;
    margin-top: 20vh;
    letter-spacing: -3px;
    margin-bottom: 2rem;
  }

  h2 {
    margin-top: 5rem;
  }

  .intro {
    font-size: 2rem;
    line-height: 1.4;
    color: $gray-700;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.6;
  }

  figure {
    padding: 3rem;
    border: 1px $gray-200 solid;
    border-radius: $border-radius;
    margin-top: 2rem;
    margin-bottom: 0;

    img {
      width: 100%;
    }
  }
}

.assets {
  width: 100%;

  h4 {
    color: $gray-600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
  }

  .btn {
    margin-right: .5rem;
  }
}

@include media-breakpoint-down(md) {
  .page {
    h1 {
      font-size: 5rem;
    }

    .intro {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
